
.zagakovok{
	position: absolute;
	top: -3%;
	color: #F3DF3F;
	font-size: 200%;
	border:10px solid #161719;
	background-color: #161719;
	word-spacing: 120px;
	width: 100%;
}
.knopki{
	text-decoration: none;
	font-size: 100%;
	user-select: none;
	color: #F3DF3F;
	text-align: center;
}
.shapka{
	background-color: rgba(22,23,25, 0.6); 
	color: #FFFFFF;
	border-top: 15px solid #F3DF3F;
	width: 550px;
	height: 310px;
	font-size: 120%;
	padding-left: 1%;
	float:left;
	position: absolute;
	top: 45%;
	left:3%;
	border-radius: 15px;

}
#nignyy_chast{
	color: #FFFFFF;
	margin-left: 350px;
	padding-left: 30px;
	padding-right: 32px;
	font-size: 100%;
	width: 150px;
	border-right: 20px solid #F3DF3F;
	background-color: #161719;
	text-decoration: none;

}

#test1{
	left: -109px;
}
.vverh{
	position: absolute;
}






.shapka2{
	float: right;
	bottom: -101%;
	left: 50%;
	color: #FFFFFF;
	border-top: 20px solid #F3DF3F;
	background-color: rgba(22,23,25, 0.6);
	width: 754px;
	height: 569px;
	position: absolute;
	font-size: 150%;
}
.ins{
	margin-left: -3%;
	padding-left: 77px;

}
.instxt{
	position: relative;
	bottom: 390px;
	color: black;
	border:0px solid #FFFFFF;
	padding-right: 200px;
	padding-left: 5px;
	padding-bottom: 135px;
	font-size: 110%;
}
.readd{

	position: relative;
	font-size: 15px;
	bottom: -130px;
	left: 500px;
	color: #FFFFFF;
	font-size: 100%;
	width: 176px;
	border-right: 20px solid #F3DF3F;
	background-color: #161719;
	text-decoration: none;
}